.item-container {
    width: 100%;

    .link-container {
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
        transition: 0.3s ease-in;

        &:hover {
            background-color: rgba(180, 180, 180, 0.322);
        }

        .image-link-container {
            width: 90%;
            height: 200px;
            display: flex;
            justify-content: center;
            
            .item-thumbnail-image {
                max-width: 100%;
                height: auto;
            }
        }
        
        .sponsored-text-content-container {
            display: flex;
            width: 90%;
            flex-direction: column;
            margin: 0 0.8rem 0.5rem 0.8rem;

            .item-text-content {
                font-size: 18px;
                margin-bottom: 0.5rem;
            }

            .item-branding-name {
                font-size: 13px;
                font-weight: bold;
            }
        }

        .organic-text-content-container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1rem;
            color: rgb(255, 255, 255);
            text-shadow: 0 0 3px 3px white;
            font-weight: bolder;
            background-color: rgba(53, 52, 52, 0.288);
        }
    }
}

// medium-large screens size
@media only screen and (max-width: 920px) {
    .item-container {
        .link-container {
            .sponsored-image-link-container {
                height: auto;
            }
        }
    }
}

// small screen size
@media only screen and (max-width: 580px) {
    .item-container {
        .link-container {
            .sponsored-text-content-container {
                .item-text-content {
                    font-size: 14px;
                }
            
                .sponsored-item-branding-name {
                    font-size: 10px;
                }
            }
        }
    }
}

// extra-small screen siz
@media only screen and (max-width: 400px) {
    .item-container {
        .link-container {
            .sponsored-text-content-container {
                .item-text-content {
                    font-size: 12px;
                }

                .sponsored-item-branding-name {
                    font-size: 8px;
                }
            }
        }

    }
}